.header img{
    height: 80px;
    display: block;
    margin: 10px auto;
}
nav{
    background-color: black;
    line-height: 40px;
}
ul{
    margin: 0;
}
nav ul li {
    display: inline-block;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding:8px;
}
nav a:hover{
    background-color: lightgray;
}
.search-bar{
    background-color: #222;
    line-height: 80px;
    text-align: center;
}
#search-field{
    width: 70%;
    padding: 4px;
    font-size: 17px;
}
.fontColor{
    color: white;
    font-size: 24px;
    position: relative;
    left: 10px;
    top: 5px;
}